{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% extends 'main.html.twig' %}

{% block body %}

    <img src="{{ asset('images/asistencia-tecnica.jpg') }}" height="100%" style="opacity: 1; position: absolute;"/>
    <div class="row" style=" top: 30%; opacity: 1">
        <div class="col-md-8 col-sm-4 col-xs-2"></div>
        <div class="col-md-3 col-sm-4 col-xs-8" style="padding-top: 250px">
            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert" id="alert-login">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Atenci&oacute;n!</strong> Error de credenciales.
                </div>
                {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
            {% endif %}
            <form action="{{ path('login_check') }}" method="post">

                <div class="form-group">
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario" style="font-size:110%"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="password" name="_password" placeholder="Contraseña" style="font-size:110%;"/>
                </div>
                {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/ccount" />
                #}
                <div style="position: relative; left: 40%">
                    <button type="submit" class="btn btn-success">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}